@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --md-sys-color-primary: rgb(6 77 44);
  --md-sys-color-surface-tint: rgb(43 106 70);
  --md-sys-color-on-primary: rgb(255 255 255);
  --md-sys-color-primary-container: rgb(67 129 91);
  --md-sys-color-on-primary-container: rgb(255 255 255);

  --md-sys-color-secondary: rgb(52 71 57);
  --md-sys-color-on-secondary: rgb(255 255 255);
  --md-sys-color-secondary-container: rgb(101 122 105);
  --md-sys-color-on-secondary-container: rgb(255 255 255);

  --md-sys-color-tertiary: rgb(29 72 83);
  --md-sys-color-on-tertiary: rgb(255 255 255);
  --md-sys-color-tertiary-container: rgb(81 123 135);
  --md-sys-color-on-tertiary-container: rgb(255 255 255);

  --md-sys-color-error: rgb(140 0 9);
  --md-sys-color-on-error: rgb(255 255 255);
  --md-sys-color-error-container: rgb(218 52 46);
  --md-sys-color-on-error-container: rgb(255 255 255);

  --md-sys-color-background: rgb(246 251 243);
  --md-sys-color-on-background: rgb(24 29 25);

  --md-sys-color-surface: rgb(246 251 243);
  --md-sys-color-on-surface: rgb(24 29 25);
  --md-sys-color-surface-variant: rgb(220 229 219);
  --md-sys-color-on-surface-variant: rgb(61 69 62);
  
  --md-sys-color-outline: rgb(89 97 90);
  --md-sys-color-outline-variant: rgb(116 125 117);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(44 50 45);
  --md-sys-color-inverse-on-surface: rgb(237 242 235);
  --md-sys-color-inverse-primary: rgb(148 213 169);
  --md-sys-color-primary-fixed: rgb(67 129 91);
  --md-sys-color-on-primary-fixed: rgb(255 255 255);
  --md-sys-color-primary-fixed-dim: rgb(41 103 68);
  --md-sys-color-on-primary-fixed-variant: rgb(255 255 255);
  --md-sys-color-secondary-fixed: rgb(101 122 105);
  --md-sys-color-on-secondary-fixed: rgb(255 255 255);
  --md-sys-color-secondary-fixed-dim: rgb(76 97 82);
  --md-sys-color-on-secondary-fixed-variant: rgb(255 255 255);
  --md-sys-color-tertiary-fixed: rgb(81 123 135);
  --md-sys-color-on-tertiary-fixed: rgb(255 255 255);
  --md-sys-color-tertiary-fixed-dim: rgb(56 98 109);
  --md-sys-color-on-tertiary-fixed-variant: rgb(255 255 255);
  --md-sys-color-surface-dim: rgb(214 219 212);
  --md-sys-color-surface-bright: rgb(246 251 243);
  --md-sys-color-surface-container-lowest: rgb(255 255 255);
  --md-sys-color-surface-container-low: rgb(240 245 238);
  --md-sys-color-surface-container: rgb(234 239 232);
  --md-sys-color-surface-container-high: rgb(229 234 226);
  --md-sys-color-surface-container-highest: rgb(223 228 221);
}

body {
    overflow-x: hidden;
}

.firebase-emulator-warning {
    display: none;
}
